.info
  - if user_signed_in? && current_user.subscriptions_count > 0
    = link_to t('cosplayers.costumes.costumes'), costumes_path, class: 'link-gray'
  = link_to t('events.name'), events_path, class: 'link-black ml-0-5'