@import 'colors';

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-active {
  @include button-bg($color-notice);
}

.btn-main {
  @include button-bg($color-main);
}

.btn-alert {
  @include button-bg($color-alert);
}