@import 'colors';
@import 'helpers';

.image-costume-photo-info {
  padding: 5px 0px;
  background-color: white;
  color: #aaaaaa;
  font-size: 12px;

  span {
    display: flex;
    align-items: center;

    i {
      margin-right: 0.3rem;
    }
  }
}

.costume-card {
  padding: 1px 15px 20px 15px;
  background-color: white;

  @include mobile-only {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.comment-header {
  align-items: center;
  display: flex;
  font-size: 14px;

  p {
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
    color: $color-text-lite;
    @extend .text-truncate;
  }
}

.comment-text {
  padding: 0 10px;
  word-break: break-word;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.costume-comments {
  @include mobile-only {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.costume-form {
  @include tablet-portrait-and-below {
    padding-left: 10px;
    padding-right: 10px;
  }

  button {
    width: 100%;
    margin-top: 15px;
  }

  .previews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .preview-container {
      position: relative;
      height: 100px;
      width: 100px;
      margin-left: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5px;

      .preview {
        object-fit: cover;
        height: 100px;
        width: 100px;
      }

      .delete {
        position: absolute;
        cursor: pointer;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.63);
        border-radius: 5px;

        .fa {
          color: black;
        }
      }

      &:first-child {
        margin-left: 0px;
      }
    }


  }

  .dropzone {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    border-radius: 10px;
    border: 4px white solid;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;

    .text {
      margin: 0 0 0 10px;
    }

    .fa {
      margin: 0;
    }
  }

  .dropzone-errors {
    @extend .dropzone;
    box-shadow: 0 0 10px #f1475d;
  }
}