@import 'colors';

.field_with_errors {
  input, select {
    outline: none;
    border-color: $color-alert;
    box-shadow: 0 0 10px #9ecaed;
  }
}

.field {
  .label {
    display: block;
  }
  em {
    display: block;
  }
  input {
    margin-bottom: 10px;
  }
  select {
    margin-bottom: 10px;
  }
}

#error_explanation{
  h2 {
    background-color: #f1475d;
    color: white;
    font-size: 16px;
    padding: 10px;
  }
}

#error_explanation:first-letter {
  text-transform: uppercase;
}

#social-auth {
  border-radius: 10px;
  border: 4px white solid;
  padding: 20px 0;
  margin: 10px 20px 30px;
  width: 250px;
}